<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spal.sajibpal.padma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6756845076909977~5796010484"/>

        <activity
            android:name="com.spal.sajibpal.padma.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.spal.sajibpal.padma.Spnas"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.spal.sajibpal.padma.Channel">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.spal.sajibpal.padma.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.spal.sajibpal.padma.ImageGallery" />
        <activity android:name="com.spal.sajibpal.padma.ViewImageActivity" />
        <activity android:name="com.spal.sajibpal.padma.Mail" />
        <activity android:name="com.spal.sajibpal.padma.Batch" />
        <activity android:name="com.spal.sajibpal.padma.BattchDetails" />
        <activity android:name="com.spal.sajibpal.padma.MemberDetails" />
        <activity
            android:name="com.spal.sajibpal.padma.DeveloperProfile"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.spal.sajibpal.padma.ShowNotification" />
        <activity android:name="com.spal.sajibpal.padma.PadmaPanelOption" />
        <activity android:name="com.spal.sajibpal.padma.PanelImage" />
        <activity android:name="com.spal.sajibpal.padma.PannelList" />
        <activity android:name="com.spal.sajibpal.padma.PanelDetails" />
        <activity android:name="com.spal.sajibpal.padma.Details" />
        <activity android:name="com.spal.sajibpal.padma.Notice" />
        <activity android:name="com.spal.sajibpal.padma.NoticeDetails" />
        <activity android:name="com.spal.sajibpal.padma.ShowNotice" />
        <activity android:name="com.spal.sajibpal.padma.Padmabanni"></activity>
    </application>


</manifest>